.button-confirmar {
    background-color: #4b2e2e; /* Cor de fundo marrom */
    color: #ffffff; /* Cor do texto branca */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 0.5rem; /* Bordas arredondadas */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
  }
  
  .button-confirmar:hover {
    background-color: #3a1f1f; /* Cor de fundo marrom mais escura ao passar o mouse */
  }