.button-confirmar {
  width: 35%; /* Ajuste conforme necessário */
  max-width: 250px; /* Define um limite para o tamanho */
  margin: 5px auto; /* Centraliza os botões */
  display: block;
  background-color: #5a3826;
  color: white;
  font-family: 'Spectral', serif;
  font-size: 12px !important;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background 0.3s ease;
}
.button-confirmar:hover {
  background-color: #3e2519;
}